name: Build and Release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '*.md'
      - 'docs/**'

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: |
          sed -i 's/\r$//' gradlew
          chmod +x gradlew

      - name: Get Version
        id: get_version
        run: |
          # Extract version from gradle.properties and remove carriage return if present
          VERSION=$(grep "mod_version=" gradle.properties | cut -d'=' -f2 | tr -d '\r')
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          echo "Detected version: $VERSION"

      - name: Check if tag exists
        id: check_tag
        run: |
          if git rev-parse "v${{ env.VERSION }}" >/dev/null 2>&1; then
            echo "Tag v${{ env.VERSION }} already exists."
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "Tag v${{ env.VERSION }} does not exist."
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Build with Gradle
        if: steps.check_tag.outputs.exists == 'false'
        run: ./gradlew build

      - name: Create Tag
        if: steps.check_tag.outputs.exists == 'false'
        run: |
          git config --global user.email "action@github.com"
          git config --global user.name "GitHub Action"
          git tag -a "v${{ env.VERSION }}" -m "Release v${{ env.VERSION }}"
          git push origin "v${{ env.VERSION }}"

      - name: Create Release
        if: steps.check_tag.outputs.exists == 'false'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: v${{ env.VERSION }}
          name: v${{ env.VERSION }}
          files: build/libs/*.jar
          generate_release_notes: true
